<!doctype html>
<html ng-app="HomeTask" lang="ru">
	<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.0-rc.2/angular-route.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="http://openexchangerates.github.io/money.js/money.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="app/main/app.js"></script>
		<title>Home Task (04.02)</title>
	</head>
	<body ng-controller = "MainCtrl">
		<div  class="h3">This is my Home Task</div>
		<div>
			<label><a href='#/{{numbers[0].url}}'>{{numbers[0].name}}</a></label>
			<input type="number" ng-model="num1" placeholder="Enter a number here">
			<!--input type="number" ng-model="num1" ng-model-options="{ debounce: 1000 }" placeholder="Enter a number here"-->
		</div>
		<div>
			<label><a href='#/{{numbers[1].url}}'>{{numbers[1].name}}</a></label>
			<input type="number" ng-model="num2" placeholder="Enter a number here">
		</div>

		<ra-summa></ra-summa>

	</body>
</html>

